:root {
  --bruce-picture-max-height: 100px;
  --app-bg-color: #edf7fc;
  --app-secondary-color: #fff;
}

.App {
  text-align: center;
  background-color: var(--app-bg-color);
  height: max(600px, 100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black;
  padding: 0 32px;
  box-sizing: border-box;
}

.header {
  white-space: nowrap;
}

h1 {
  margin: 0;
}

.picture-spacer {
  height: calc(var(--bruce-picture-max-height) + 8px);
  flex-shrink: 0;
}
.picture-spacer.shrink {
  flex-shrink: 1;
}

.bruce-label {
  white-space: nowrap;
  position: relative;
  --bruce-name-color: #022873;
  --bruce-picture-opacity: 0;
  --bruce-picture-height: 0;
  color: var(--bruce-name-color);
  transition: padding 0.5s, background-color 0.5s, color 0.25s;
  border-radius: 0 0 8px 8px;
}

.bruce-picture-container {
  opacity: var(--bruce-picture-opacity);
  width: calc(100%);
  height: var(--bruce-picture-height);
  border-radius: 8px 8px 0 0;
  position: absolute;
  bottom: calc(100% - 1px);
  left: 0;
  background-color: var(--bruce-name-color);
  transition: top 0.25s, height 0.25s, opacity 0.5s;
  overflow: hidden;
}

.bruce-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 4px solid var(--bruce-name-color);
  box-sizing: border-box;
  border-radius: 8px;
}

.bruce-label:hover {
  --bruce-picture-height: var(--bruce-picture-max-height);
  --bruce-picture-opacity: 1;
  background-color: var(--bruce-name-color);
  color: white;
  padding: 2px 4px;
}

.location-blurb {
  font-size: 28px;
  line-height: 40px;
  padding: 4px 16px 16px;
  border-bottom: 8px var(--app-bg-color) dashed;
  margin: 0;
}

.location-summary {
  background-color: var(--app-secondary-color);
  margin: 36px 0;
  border-radius: 8px;
  padding: 12px;
}

.location-text {
  font-weight: 500;
  white-space: nowrap;
  background-color: grey;
  color: white;
  border-radius: 4px;
  padding: 2px 4px;
}

.date-text {
  white-space: nowrap;
  color: black;
  font-weight: 600;
}

.sub-location-blurb.first {
  margin: 16px 8px 8px;
}

.sub-location-blurb {
  font-size: 14px;
  line-height: 22px;
  color: #555;
  margin: 8px 36px;
}

.App-link {
  color: #61dafb;
}

.globe {
  border-radius: 9999px;
  background-color: var(--app-secondary-color);
  flex-shrink: 0;
  width: min(calc(100vw - 64px), 400px);
  height: min(calc(100vw - 64px), 400px);
}

@media (max-width: 900px) {
  :root {
    --bruce-picture-max-height: 60px;
  }
}

@media (max-height: 800px) {
  .location-summary{
    margin: 24px 0;
    padding: 0 12px;
  }

  .location-blurb {
    border-bottom: 0px var(--app-bg-color) dashed;
  }

  .sub-location-blurb.first,
  .sub-location-blurb {
    margin: 8px;
  }

  .blurb-verbose {
    display: none;
  }

  .globe {
    width: min(calc(100vw - 64px), 280px);
    height: min(calc(100vw - 64px), 280px);
  }

}

@media (max-width: 385px) {
  .location-blurb {
    padding: 0 12px 8px;
  }

  h1 {
    font-size: 32px;
  }
}
